<div class="divBtnCarrito">
    <div ngbDropdown display="dynamic" placement="bottom-end" #myDrop="ngbDropdown">

        <div 
            #btnCarrito
            class="divButton animate__animated animate__fadeIn"
            >
            <button 
                class="btnCarrito" 
                id="dropdownBasic1"
                ngbDropdownToggle
            >
                <img 
                    class="carritoLleno"
                    *ngIf="productosCarrito.length > 0"
                    src="../../../assets/Ellipse 6.svg" alt=""
                >
            </button>
            
        </div>

        
        <div  
            ngbDropdownMenu 
            aria-labelledby="dropdownBasic1"
        >
            <div
                *ngIf="carritoService.getCarritoProductos().length === 0"
            >
                <div class="divBtnRemove">
                    <button
                        class="btnRemove opacity-hover-8"
                        (click)="myDrop.close()"
                    ></button>
                </div>
                <img class="imagenCarritoVacio" src="../../../assets/carrito-vacio.svg" alt="Carrito vacío">
                <h3 class="text-center mt-3">Carrito vacío</h3>
                <p class="text-center mt-3 textoCarritoVacio">🎁 ¡Agregá productos! 😄</p>
            </div>
            
            <div
                *ngFor="let producto of productosCarrito"
            >   
                <div class="divBtnRemove">
                    <button
                        class="btnRemove opacity-hover-8"
                        (click)="eliminarCarrito(producto, myDrop)"
                    ></button>
                </div>

                <div
                    style="background-image: url({{producto.imagenUrl}});"
                    class="imgCardCarrito"
                ></div>

                <p class="parrafoCarritoMT">{{producto.titulo}}</p>
                <p>Precio: {{producto.precio | currency: 'symbol': '$'}}</p>
                <hr>

            </div>
            
            <div 
                *ngIf="productosCarrito.length > 0" 
                class="divBtnComprar"
            >
                <p><strong>Total: {{carritoService.totalCarrito() | currency: 'symbol': '$'}}</strong></p>

                <button
                    class="btn btn-outline-success btnComprarCarrito btn-sm" 
                    (click)="comprarProductos(myDrop)"
                > 
                    <span class="centrarIcon">
                        <span class="material-icons marginIcon">storefront</span>
                        Comprar carrito
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>


