<div class="card tarjeta">
    <div class="divImgCard">

        <div *ngIf="imgLoad" class="imgCardSpinner">
            <div class="spinner-border spinnerBtnMP mt-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div
            [hidden]="imgLoad"
            class="card-img-top imgCardProducto animate__animated animate__fadeIn"
            style="background-image: url({{producto.imagenUrl}});"
        ></div>
        
    </div>


    <div class="card-body cuerpoTarjeta">

        <h5 class="card-title" style="font-weight: 700; margin-bottom: 20px;">{{producto.titulo}}</h5>
        <p class="card-text">{{producto.descripcion}}</p>
        <p class="card-text"> <strong>Precio:</strong> {{producto.precio | currency: 'symbol': '$'}}</p>
        <p class="card-text"><strong>Stock:</strong> {{producto.stock | number}}</p>
        
        <button 
            class="btn btn-outline-success btnAgregarCarrito btn-sm" 
            (click)="agregarCarrito()"
            [disabled] = "producto.stock == 0"
        > 
            <span class="centrarIcon">
                <span class="material-icons marginIcon">local_mall</span>
                Agregar al carrito 
            </span>
        </button>

    </div>

</div>
