<header>
    <app-nav-bar></app-nav-bar>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer class="footerBG">
    <div class="divLogo">
      <img src="../../../../assets/logo.png" class="footerLogo" >
    </div>
    <div class="container">
      <div class="row divNavPills">
        <div class="col-md-12">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a 
                  class="nav-link anchorNavPillsFooter" 
                  href="https://www.linkedin.com/in/dominguezprado/" 
                  target="_blank"
                  onclick="blur()"
                >
                  <span class="centrarIcon">
                    <span class="material-icons marginIcon">work</span>
                    LinkedIn
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a 
                  class="nav-link anchorNavPillsFooter" 
                  href="https://github.com/gabrieldp36" 
                  target="_blank"
                  onclick="blur()"
                >
                  <span class="centrarIcon">
                    <span class="material-icons marginIcon">code</span>
                    Github
                  </span>
                </a>
            </li>
            <li class="nav-item">
                <a 
                  class="nav-link anchorNavPillsFooter" 
                  href="mailto:gabrieldominguezprado@gmail.com?subject=Consulta MP Integración"
                  onclick="blur()"
                >
                  <span class="centrarIcon">
                    <span class="material-icons marginIcon" herf="">mail</span>
                    Contacto
                  </span>
                </a>
            </li>
            <li class="nav-item">
              <p class="nav-link derechosReservadosFooter">
               <span class="marginNombre">Gabriel Domínguez Prado</span> 
               <i>© 2023 Todos los Derechos Reservados.</i>
              </p>
            </li>
          </ul>
        </div>
      </div> 
    </div>
</footer>