/*********************************Importaciones**********************************/

@import '~material-icons/iconfont/material-icons.css';

/************************************Globales************************************/

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/************************************Scroll Bar************************************/

.hide-scroll {
    overflow: auto;
}

*::-webkit-scrollbar {
    width: .9rem;
    background: #c7c7c7;
}
  
*::-webkit-scrollbar-track:hover {
    background: #c1c5c9;
}

*::-webkit-scrollbar-track:active {
    background: #c1c5c9;
}

*::-webkit-scrollbar-thumb {
    background-color: #8b9096;
    border: .3rem solid #8b9096;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #495057;
    border-color: #495057;
}

/*************************************Utilidades**************************************/

.hidden {
    display: none !important;
}

.min-height-500 {
    min-height: 500px;
}

.opacity-hover-8:hover {
    opacity: .8 !important;
}

.center {
    margin: 0 auto;
}

.overflow-visible {
    overflow: visible;
}

.displayFlexCenter {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/************************************Sweet Alert***************************************/

.swal2-styled.swal2-confirm {
    box-shadow: none !important;
}

.swal2-timer-progress-bar {
    background-color: rgba(9,9,121,1) !important;
}

/************************************NavBar + Carrito***********************************/

.imgLogo {
    width: 10rem;
    margin: 0 auto;
}

.navBar {
    width: 100%;
    color: white;
    padding: 30px 20px;
    box-shadow: 15px 5px 5px #48529944;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%);
}

.navBarGrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.contenidoNavBar {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: left;
}

.h1NavBar {
    text-align: end;
}

@media (min-width: 619px) {

    .contenidoNavBar {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

.divButton {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start;
}

.btnCarrito {
    width: 36px;
    height: 36px;
    background-image: url(./assets/btnCarrito.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    color: transparent;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
}

.btnCarrito:hover {
    background-image: url(./assets/btnCarritoHoverGreen.svg);
    transform: scale(1.3);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    margin-top: 10px;
}

.parrafoCarritoMT {
    margin-top: 20px;
}

.divBtnComprar {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.divBtnRemove {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px; 
}

.btnRemove {
    height: 32px;
    width: 32px;
    background-image: url(assets/btnRemove.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
}

.btnComprarCarrito {
    width: 80% !important;
    border-radius: 20px !important;
}

.imagenCarritoVacio {
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.textoCarritoVacio {
    font-size: 1.1rem; 
    font-weight: 700;
}

/************************************Listado productos************************************/

.divTarjetas {
    padding-top: 60px;
    padding-bottom: 20px;
}

.paddingTarjetas {
    padding-bottom: 35px;
}

.tarjeta {
    height: 100%;
    box-shadow: 5px 5px 5px #48529944;
}

.divImgCard {
    padding: 0 0px;
}

.imgCardSpinner {
    height: 260px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.imgCardProducto {
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 240px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgCardCarrito {
    height: 120px; 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    border: none;
    box-sizing: border-box;
}

.btnAgregarCarrito {
    width: 100% !important;
    border-radius: 20px !important;
    margin-bottom: 8px;
}

.cuerpoTarjeta {
   display: flex; 
   flex-direction: column; 
   justify-content: space-around;
}

/************************************Productos Compra************************************/

.productoCompra {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px #48529944;
    border-radius: 1rem;
    border: 1px solid #0000002d;
}

.productoCompraGrid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    align-items: center;
}

.productoCompraContenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productoCompraNombre {
    margin: 1rem 0;
    color: #000;
    font-size: 1.8rem;
}

.productoCompraDescripcion {
    text-align: left;
    font-size: 1rem;
    color: #455a64;
}

.spinnerBtnMP {
    color: #009ee3 !important;
    width: 3rem;
    height: 3rem;
}

.divBtnMercadoPago {
    position: sticky;
    width: 20rem;
    top: 5rem;
}

.eliminarCompradoBtn {
    text-decoration: none;
    font-weight: 700;
    color: #D92626;
}

.eliminarCompradoBtn:hover {
    color: #D92626;
    opacity: .8;
}

@media (max-width: 991px) {
    .divBtnMercadoPago {
        position: unset;
        right: unset;
        width: 100%;
    }
}

/********************************Resultado Compra******************************/

.resultadoGrid {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 992px) {
    .resultadoGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: unset;
        align-items: unset;  
    }
}

.imagenCompra {
    width: 24rem;
    margin: 0 auto;
}

.imagenCancelaCompra {
    width: 22rem;
    margin: 0 auto;
}

@media (min-width: 992px) { 
    .imagenCompra {
        width: 30rem;
    }

    .imagenCancelaCompra {
        width: 26rem;
    }
}

.h2ResultadoCompraExito {
    display: inline-block;
    font-size: 3.6rem;
    color: #313c4e;
}

.h2ResultadoCompraExito::after {
    content: '';
    background-color: #009ee3;
    height: 1.4rem;
    width: calc(100% + 1rem);
    display: block;
    margin: -1rem 0 0 0;
}

.h2ResultadoCompraPendiente {
    display: inline-block;
    font-size: 3.6rem;
    color: #313c4e;
    text-align: left;
}

.h2ResultadoCompraPendiente::after {
    content: '';
    background-color: #ff790d;
    height: 1.4rem;
    width: calc(100% + 1rem);
    display: block;
    margin: -1rem 0 0 0;
}

.h2ResultadoCompraCancelado{
    display: inline-block;
    font-size: 3.6rem;
    color: #313c4e;
    text-align: left;
}

.h2ResultadoCompraCancelado::after {
    content: '';
    background-color: #D92626;
    height: 1.4rem;
    width: calc(100% + 1rem);
    display: block;
    margin: -1rem 0 0 0;
}

.informacionCompra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    min-height: 24rem;
}

@media (min-width: 768px) { 
    .informacionCompra { 
        justify-content: space-evenly;
        min-height: 22rem;
    }
} 

@media (min-width: 992px) { 
    .informacionCompra {
        max-width: unset;
        min-height: unset;
    }
}

.parrafoResultadoCompra {
    max-width: 28rem;
    font-size: 1.2rem;
    color: #313c4e;
    text-align: center;
}

.btnContinuarComprando {
    width: 60%;
    border-radius: 20px !important;
    margin-bottom: 8px;
}

/************************************Footer**********************************/

.footerBG {
    background: #222222; 
    height: 100%; 
    margin-top: 40px; 
}

.divLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 0.7rem;
}
  
.footerLogo {
    max-width: 260px;
}

.divNavPills {
    padding: 20px 0;
}

.anchorNavPillsFooter {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.anchorNavPillsFooter:visited {
    color: white;
}

.anchorNavPillsFooter:hover {
    color: #69f0ae;
}

.centrarIcon {
    display: flex; 
    justify-content: center; 
    align-items: center;
}
  
.marginIcon {
    margin-right: 10px;
}
  
.marginNombre {
    margin-right: 30px;
}
  
.derechosReservadosFooter {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none !important;
    color: white !important;
    margin: 0;
}